/** Global Styles **/
* {
    background-color: rgb(190, 145, 86);
}

h1 {
    font-size: 60px;
}

/** Index.html Design **/
.title{
    text-align: center;
}
.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    max-width: 900px;
    margin: 0 auto; 
    text-align: center;
}
.cont a{
    text-decoration: none;
    color: black;
}

.boxlink img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 15px;
    transition: transform 330ms ease-in-out;
}

.boxlink img:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.boxlink h2{
    padding: 0px;
    margin: 5px;
    background-color: rgb(190, 145, 86);
}


/**Title And Banner Styles for Recipe Page**/
.titleBanner {
    display: block;
    text-align: center;
    font-family: 'Courier New', sans-serif, Verdana;
}

.titleBanner img {
    width: 40%;
    height: auto;
    max-height: 600px;
}

.titleBanner p {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 800px;
}

/** Ingredients and Step-by-Step Styles **/

.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1px;
    max-width: 900px;
    margin: 0 auto;
}

.box {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.box p, h2, ul, ol, li, h3{
    background-color: white;
}